<p>
  <strong><%= @question.body %></strong>
</p>

<div>
  <table>
    <tr>
      <th>Варианты ответов:</th>
    </tr>
    <% @question.answers.each do |answer| %>
      <tr>
        <td>
          <li><%= link_to answer.body, answer_path(answer) %></li>
        </td>
        <td><%= link_to 'Редактировать', edit_answer_path(answer) %></td>
        <td><%= link_to 'Удалить',
                        answer_path(answer),
                        method: :delete,
                        data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

<p>
  <%= link_to 'Создать новый ответ', new_question_answer_path(@question) %>
</p>

<%= link_to 'Вернуться к тесту', test_path(@question.test) %>
