<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @badge %>

<h3><%= t('.received_badges_header') %></h3>
<table class="table">
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.image') %></th>
  </tr>

  <% current_user.badges.each do |badge| %>
    <tr>
      <td><%= badge.title %></td>
      <td><img src="<%= badge.image%>" width="50" height="50"></td>
    </tr>
  <% end %>
</table>

<h3><%= t('.available_badges_header') %></h3>
<table class="table">
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.image') %></th>
  </tr>

  <% @badges.each do |badge| %>
    <tr>
      <td><%= badge.title %></td>
      <td><img src="<%= badge.image%>" width="50" height="50"></td>
    </tr>
  <% end %>
</table>
