<h1>Список тестов</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Уровень</th>
    <th>Количество вопросов</th>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <td>
        <li><%= link_to test.title, admin_test_path(test) %></li>
      </td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
      <td><%= link_to 'Редактировать', edit_admin_test_path(test) %></td>
      <td><%= link_to 'Удалить',
                      admin_test_path(test),
                      method: :delete,
                      data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Создать новый тест', new_admin_test_path(@test) %>
</p>
