<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @test %>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions_quantity') %></th>
    <th><%= t('.visibility_status') %></th>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <td>
        <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id} %>
        <%= render 'form_inline', test: test == @test ? @test : test %>
      </td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
      <td><%= test.visibility_status %></td>
      <td><%= link_to t('links.update'),
                      edit_admin_test_path(test),
                      data: { test_id: test.id },
                      class: 'form-inline-link' %>
      </td>
      <td><%= link_to t('links.show'), admin_test_path(test) %> </td>
      <td><%= link_to t('links.delete'),
                      admin_test_path(test),
                      method: :delete,
                      data: { confirm: t('confirmation.delete') } %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to t('links.create'), new_admin_test_path(@test) %>
</p>
