<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<div>

  <table>
    <tr>
      <th><%= t('.questions_list') %>:</th>
    </tr>
    <% @test.questions.each do |question| %>
      <tr>
        <td>
          <li><%= link_to question.body, admin_question_path(question) %></li>
        </td>
        <td><%= link_to t('links.update'), edit_admin_question_path(question) %></td>
        <td><%= link_to t('links.delete'),
                        admin_question_path(question),
                        method: :delete,
                        data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

<td><%= button_to t('.start'), start_test_path(@test) %></td>

<p>
  <%= link_to t('.create_question'), new_admin_test_question_path(@test) %>
</p>
<p>
  <%= link_to t('links.update'), edit_admin_test_path(@test)%>
</p>

<p>
  <%= link_to t('navigation.back'), admin_tests_path %>
</p>
