<h1 class="mb-3"><%= t('.header') %></h1>

<table class="table">
  <thead>
  <tr>
    <th class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions_quantity') %></th>
    <th><%= t('.passage_time') %></th>
  </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
    <tr>
      <td><%= link_to test.title, test_path(test) %></td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
      <td><%= test.passage_time %></td>
    </tr>
  <% end %>
  </tbody>
</table>
