<h1 class="mb-3"><%= t('.header') %></h1>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions_quantity') %></th>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <td><%= link_to test.title, test_path(test) %></td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
    </tr>
  <% end %>
</table>
