<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.passage_time') %>:</strong>
  <%= @test.passage_time %>
</p>

<td><%= button_to t('.start'), start_test_path(@test), class: "btn btn-primary"  %></td>

<p>
  <%= link_to t('navigation.back'), tests_path %>
</p>
